.adminLayout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  width: 100vw;
}
.award-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.award-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #343a40;
}

.award-details-list {
  list-style-type: none;
  padding: 0;
}

.award-details-list li {
  font-size: 1.2rem;
  margin-bottom: 12px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.award-details-list li strong {
  color: #007bff;
}

/* Thông báo thành công */
.award-success-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745; /* Màu xanh lá */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

/* Animation fade-in */
@keyframes fadeIn {
  0% {
      opacity: 0;
      top: 10px;
  }
  100% {
      opacity: 1;
      top: 20px;
  }
}

/* General Container for the entire page */
.approved-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
}

/* Header styling */
.approved-header {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

/* For each item list (Awards or Contests) */
.approved-items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styling for each individual item */
.approved-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.approved-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Item details formatting */
.approved-item strong {
  font-weight: 600;
  color: #007bff;
}

.approved-item p {
  margin: 8px 0;
  font-size: 16px;
  color: #555;
}

/* No items found message */
.no-data-message {
  text-align: center;
  font-size: 18px;
  color: #6c757d;
  padding: 20px;
  background-color: #f1f3f5;
  border-radius: 8px;
}

/* Loading message */
.loading-message {
  text-align: center;
  font-size: 20px;
  color: #007bff;
  margin-top: 40px;
  font-weight: bold;
}

/* Error message */
.error-message {
  text-align: center;
  font-size: 20px;
  color: #dc3545;
  margin-top: 40px;
  font-weight: bold;
}

.category-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
  color: #333;
}

.category-select {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin-top: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.category-select:focus {
  border-color: blue; /* Green border color on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2); /* Subtle green shadow on focus */
}

.category-select option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.category-select:hover {
  border-color: rgb(5, 5, 147); /* Change border color on hover */
}

/* Additional styling for the container or layout */
.category-container {
  margin: 20px;
}


.award-error-message {
  color: red;
  padding: 15px;
  background-color: #f8d7da;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  margin-top: 20px;
  text-align: center;
}

.award-button-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.award-button-approved {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(32, 235, 32);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.award-button-rejected {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.award-button-approved:hover {
  background-color: rgb(32, 200, 32);
}

.award-button-rejected:hover {
  background-color: rgb(200, 32, 32);
}


.award-loading-message {
  color: #28a745;
  text-align: center;
  font-size: 1.5rem;
}


.createMeetingContainer {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.createMeetingContainer h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.createMeetingContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.createMeetingContainer label {
  font-weight: bold;
  color: #555;
}

.createMeetingContainer input,
.createMeetingContainer select {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.createMeetingContainer input:focus,
.createMeetingContainer select:focus {
  border-color: #4f9de5;
}

.createMeetingContainer button {
  padding: 1rem;
  background-color: #4f9de5;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.createMeetingContainer button:hover {
  background-color: #3978a1;
}

.createMeetingContainer p {
  text-align: center;
  font-size: 1.2rem;
  color: green;
  margin-top: 1.5rem;
}

.createMeetingContainer p.error {
  color: red;
}

.confirmButton {
  border: none;
  padding: 8px 16px; 
  font-size: 14px;    
  border-radius: 6px;  
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  margin: 0 8px;  
}

.acceptButton {
  background-color: #28a745;  
  color: white;
}

.acceptButton:hover {
  background-color: #218838;
  transform: scale(1.05); 
}

.rejectButton {
  background-color: #dc3545;  
  color: white;
}

.rejectButton:hover {
  background-color: #c82333;
  transform: scale(1.05); 
}

.confirmButton svg {
  margin-right: 6px; 
}

.confirmButton:focus {
  outline: none; 
}

.acceptButton:focus,
.rejectButton:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}


.requestsContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.requestsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.requestsTable th, .requestsTable td {
  padding: 12px 20px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 14px;
}

.requestsTable th {
  background-color: black;
  color: #fff;
  font-weight: bold;
}

.requestsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.requestsTable tr:hover {
  background-color: #f1f1f1;
}

.requestsTable td {
  color: #333;
}

.requestsTable td:nth-child(3) {
  font-weight: bold;
}

.requestsTable td:last-child {
  text-align: center;
}

.sidebar {
  width: 250px;
  background: linear-gradient(135deg, #2c3e50, #4a69bd);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 1px solid #34495e;
  padding-bottom: 10px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease, padding-left 0.3s ease;
}

.sidebar nav ul li a i {
  margin-right: 10px;
  min-width: 20px;
  text-align: center;
}

.sidebar nav ul li a:hover {
  background-color: #34495e;
  transform: translateX(5px);
  padding-left: 20px;
}

.sidebar nav ul li a.active {
  background-color: #1abc9c;
}

.sidebar nav ul li a.active:hover {
  transform: translateX(0);
  padding-left: 15px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.table td {
  vertical-align: middle; 
  text-align: center; 
}

.table .btn {
  margin: 0 auto; 
  display: block; 
}

.topMenu {
  background-color: #ecf0f1;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.menuItems {
  display: flex;
  gap: 10px;
}

.topMenu button {
  background-color: #3498db;
  color: white;
  border: 2px solid #2980b9;
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topMenu button i {
  margin-right: 5px;
  min-width: 20px;
  text-align: center;
}

.topMenu button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.topMenu button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentArea {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  transition: padding 0.3s ease;
}

.contentArea h2 {
  font-size: 2em;
  color: #34495e;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.contentArea h2:hover {
  color: #1abc9c;
}

.contentArea p {
  line-height: 1.6;
  color: #555;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.contentArea p:hover {
  color: #2c3e50;
}

.studentManagementContainer {
  padding: 30px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  border-radius: 8px;
}

.studentRows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.studentRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
}

.studentItem {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  max-width: auto;
  text-align: center;
  text-decoration: none;
}

.searchContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 700px;
  display: flex;
  justify-content: center;
}

.titleStudentList {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 0;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 10;
}

.searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  background-color: white;
}

.searchInput::placeholder {
  color: grey;
}

.searchInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.studentItem:hover {
  background-color: #1abc9c;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .studentManagement {
    padding: 15px;
  }

  .studentManagementContainer {
    padding: 15px;
  }

  .awardManagementContainer {
    padding: 15px;
  }

  .exhibitionManagementContainer {
    padding: 15px;
  }

  .exhibitionItem {
    width: 48%;
  }
}

.competitionManagementContainer {
  padding: 30px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  border-radius: 8px;
}

.awardManagementContainer {
  padding: 30px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  border-radius: 8px;
  position: relative;
}

.exhibitionManagementContainer {
  padding: 30px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  border-radius: 8px;
  position: relative;
}

.exhibitionDetailContainer {
  padding: 40px;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.exhibitionInfo {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exhibitionInfo p {
  font-size: 1.1rem;
  color: #34495e;
  line-height: 1.6;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.exhibitionInfo p strong {
  color: #3498db;
}

.exhibitionInfo p:hover {
  color: #1abc9c;
}

.exhibitionInfo p:last-child {
  margin-bottom: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 0;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 10;
}

.title:hover {
  color: #3498db;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.sortContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.sortInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.errorMessage {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  font-size: 1.1rem;
}

.filterContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.dateInput {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.filterButton {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.teacherName{
  font-weight: bolder;
}

.filterButton:hover {
  background-color: #2980b9;
}

.noDataMessage {
  text-align: center;
  font-size: 1.2rem;
  color: #e74c3c;
}


.sortButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sortButton:hover {
  background-color: #0056b3;
}

.competitionRows {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.competitionItem {
  width: 23%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
  color: #2c3e50;
}

.competitionItem:hover {
  transform: scale(1.05);
}

.competitionItem img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.competitionItem h3 {
  font-size: 1.5rem;
  color: #34495e;
  margin-bottom: 10px;
}

.competitionItem p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.competitionItem .status {
  font-size: 1rem;
  font-weight: bold;
  color: #1abc9c;
}

.competitionItem .status.inactive {
  color: #e74c3c;
}

.competitionItem .defaultImage {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8c8d;
  font-size: 1.2rem;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.awardRows {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}

.awardItem {
  width: 23%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
  color: #2c3e50;
}

.awardItem:hover {
  transform: scale(1.05);
}

.awardItem img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.awardItem h3 {
  font-size: 1.5rem;
  color: #34495e;
  margin-bottom: 10px;
}

.awardItem p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.awardItem .status {
  font-size: 1rem;
  font-weight: bold;
  color: #1abc9c;
}

.awardItem .status.inactive {
  color: #e74c3c;
}

.awardItem .defaultImage {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8c8d;
  font-size: 1.2rem;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.exhibitionRows {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}

.exhibitionItem {
  width: 23%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
  color: #2c3e50;
}

.exhibitionItem:hover {
  transform: scale(1.05);
}

.exhibitionItem img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.exhibitionItem .defaultImage {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8c8d;
  font-size: 1.2rem;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.exhibitionItem .imageLink {
  display: block;
}